*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    background-color: lightskyblue;
    width: 400px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 9px 10px black;
}
img{
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
p{
    color:red;
    font-size: 15px;
    margin-bottom: 5px;
}
.details p a{
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 5px;
}
.buttons a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 7px;
    color: 7px;
    border-radius: 5px;
    margin: 15px;
}
.buttons{
    margin-top: 30px;
}
.buttons a:hover{
    background-color: red;
}